<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="_statistics">

    <div id="items_statistics" th:with="t=#{msg.items.amount.all}" data-toggle="tooltip" th:title="${t}"
         data-placement="right">
        <span >
            <i class="fa fa-info orange"></i>
            <span class="text text-warning hidden-sm"
                  th:text="${t}+':'"></span>
        <span class="text text-success"
             th:text="${@statisticsBean.advertsAmount ?:'unknown'}"></span>
        </span>

    </div>
    <div id="users_statistics" th:with="t=#{msg.users.amount.registered}" data-toggle="tooltip" th:title="${t}"
         data-placement="right">
        <span>
        <i class="fa fa-user green"></i>
            <span class="text text-warning  hidden-sm"
                  th:text="${t}+':'"></span>
       <span class="text text-success"
             th:text="${@statisticsBean.usersRegisteredAmount ?:'unknown'}" ></span>
        </span>

    </div>
</div>

</html>
