<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:fragment="_stylesheet">

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link  rel="stylesheet"
    th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}"/>

<link  rel="stylesheet"
           th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome.min.css}"/>


    <link rel="stylesheet" href="../../static/css/notify.css" th:href="@{/css/notify.css}">
    <link rel="stylesheet" href="../../static/css/custom.css" th:href="@{/css/custom.css}">
</div>
</html>
