<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title></title>
</head>


<body>
<div layout:fragment="content">

    <div class="jumbotron padding-5x margin-5x">
        <p th:text="#{action.currently.unavailable}"></p>
        <div class="panel-body text-center">
            <a href="/" class="btn btn-primary" >
                <span class="glyphicon glyphicon-home"></span>
                <span th:text="#{msg.to.homepage}"></span>
            </a>
        </div>
    </div>

</div>
</body>
</html>
